{% extends 'base.html' %}

{% block content %}
    <div class="row-3 w-row">
      <div class="w-col w-col-4">
        <div class="columns top-menu"><a class="column-button sub-button w-button" href="#">Все задания</a><a class="column-button sub-button w-button" href="#">Мне нравится</a><a class="column-button sub-button w-button" href="#">Рассказать друзьям</a><a class="column-button sub-button w-button" href="#">Подписчики</a><a class="column-button sub-button w-button" href="#">Комментарии</a><a class="column-button sub-button w-button" href="#">Голосование</a><a class="column-button sub-button w-button" href="#">Просмотры</a></div>
      </div>
      <div class="w-col w-col-8">
        <div class="columns top-menu">

                {% for task in tasks %}
                  <div class="div-block-5 w-clearfix">
                    <div class="div-block-6">
                        <p class="paragraph-5">Поставьте <strong>{{ task.type|lower }}</strong> на записи</p></div>
                      <a class="button-5 sub-button w-button open-check" id="{{ task.id }}" user_id="{{ request.user.id }}" href="{{ task.post_link }}"  target="_blank">{{ task.price }} ETH</a>
                    </div>
                {% endfor %}
           </div>
      </div>
    </div>
{#        {% for task in tasks %}#}
{#            <li><a href="{{ task.post_link }}" target="_blank" onClick="popupWin = window.open(this.href, 'contacts', 'location,width=800,height=800,top=0'); popupWin.focus(); return false;">{{ task.type }}-{{ task.post_link }}</a> <a href="/task_check/{{ task.id }}">{{ task.price }} ETH</a></li>#}
{#        {% endfor %}#}
{% endblock %}